<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EcoHub</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="/img/recicle_logo.png" alt="logo" />
        <nav>
            <ul>
                <li><a href="/templates/index.html">O QUE É?</a></li>



                <li class="tipos">
                    <a href="#">TIPOS</a>


                    <div class="mega-menu">
                        <a href="/templates/papel.html" style="color: #42A4FF">PAPEL</a>
                        <a href="/templates/metal.html" style="color: #FBFF7E">METAL</a>
                        <a href="/templates/organico.html" style="color: #D29A23">ORGÂNICO</a>
                        <a href="/templates/radioativo.html" style="color: #F757FF">RADIOATIVO</a>
                        <a href="/templates/madeira.html" style="color: #191919">MADEIRA</a>
                        <a href="/templates/plastico.html" style="color: #FF6262">PLÁSTICO</a>
                        <a href="/templates/vidro.html" style="color: #AFFF69">VIDRO</a>
                        <a href="/templates/saude.html" style="color: #FFFFFF">SAÚDE</a>
                        <a href="/templates/pilha.html" style="color: #FF9602">PILHAS E BATERIAS</a>
                        <a href="/templates/naoreciclavel.html" style="color: #363636">NÃO RECICLÁVEL</a>
                    </div>
                </li>



                <li><a href="/templates/quiz.html">QUIZ</a></li>
                <li><a href="/templates/jogodamemoria.html">JOGO DA MEMÓRIA</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <div class="title">
            <img src="/img/recycle-sign.png" alt="recicle">
            <h1 style="color:#363636; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: rgb(194, 194, 194);">NÃO RECICLÁVEL</h1>
            <img src="/img/recycle-sign.png" alt="recicle" id="invert_recicle">
        </div>


        <div class="text">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio erat, vestibulum quis lacus eu,
                cursus lobortis elit. Quisque eu vehicula lacus. et porttitor elit. In congue sem mauris, nec
                ullamcorper neque consequat iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget
                tincidunt nisi. Suspendisse elementum luctus urna, hendrerit vestibulum diam malesuada a. Proin
                ullamcorper vestibulum arcu quis malesuada.
            </p>
        </div>

    </div>




</body>

</html>